@page "/Potencia"

<h3>Potencia</h3>

<input type="number" placeholder="introduzca la base " @bind = "num1"/>
<input type = "number" placeholder="introduzca el exponente" @bind = "num2"/>
<label> @num1 ^ @num2 = @Result()</label>

@code 
{
    private double num1 {get; set;}
    private double num2 {get; set;}

    private double Result()
    {
        double resultado = Math.Pow(num1,num2);
        return resultado;
    }
}
