@page "/Potencia"

<h3>Potencia</h3>

<input type="number" placeholder="introduzca la base " @bind = "numero1"/>
<input type = "number" placeholder="introduzca el exponente" @bind = "numero2"/>
<label> @numero1 ^ @numero2 = @Resultado()</label>

@code 
{
    private double numero1 {get; set;}
    private double numero2 {get; set;}

    private double Resultado()
    {
        double resultado = Math.Pow(numero1,numero2);
        return resultado;
    }
}
