@page "/Multiplicacion"

<h3>Ingrese un Numero</h3>
<input type="number" @bind="num"y/>

@for(int i =1; i<=10; i++)
{
    result = i * num;
    <p> @i x @num = @result </p>
}

@code 
{
    private int num {get; set;}
    private int result {get; set;}
}
